body {
    background-color: #191414;

}

.homeContainer {
    height: calc(95vh - 65px);
    background-image: linear-gradient(rgb(18, 30, 61) 0%, rgb(0, 0, 0) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer .botao {
    list-style-type: none;
    
}


.homeContainer .botao a {
    background-color: #1db954;
    padding: 20px 50px;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
