.artistContainer {
    display: flex;
    margin: 0 ;
    margin: 20px 0px 40px;
    padding: 20px 30px;

}


.background{
    margin-bottom: 40px;
    margin-top: 10px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    transition-duration: 0.4s;
}

.background:hover{
    transition-duration: 0.4s;
    -moz-transform: scale(1.02);
	-webkit-transform: scale(1.02);        
	transform: scale(1.02);

}


.cardArtistContainer {
    background-color: transparent;
    transition-duration: 0.4s;
    margin: 0 ;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.cardArtistContainer {
    color: white;
}

.cardArtistContainer .cardArtistImage {
    width: 300px;
    border-radius: none ;
}

.cardArtistContainer img {
    width: 300px;
    border-radius: none ;
}
.cardArtistContainer .descriptionContent {
    margin-left: 20px ;
    display: flex;
    flex-direction: column;
    background-color: #191414;
    padding: 20px 50px;
    border-radius: 10px;

}

.cardArtistContainer .descriptionContent .cardArtistTitle {
    font-size: 100px;
    font-weight: 700;

}
.cardArtistContainer .descriptionContent .cardArtistDescri {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size:30px ;
    font-weight: 600;

}

.cardArtistContainer .descriptionContent .cardArtistDescri p{
    font-size: 14px;
    border-top: 1px solid white;
    width: 60%;
    margin-top: 5px;
    padding-top: 3px;
    
}

.cardArtistContainer .descriptionContent .cardArtistLink {
    display: flex;
    align-items: end;
    justify-content: center;
}

.cardArtistContainer .descriptionContent .cardArtistLink a{
    text-decoration: none;
    color: white;
    padding: 4px 20px;
    border-radius: 20px;
    background-color: #1db954;
    
    
}
.cardArtistContainer .descriptionContent .cardArtistLink a:hover{
    background-color: #0b8837;


}

.cardContainer {
    display: flex ;
    flex-direction: row;
    background-color: #19141478;
    height: 70px;
    margin: 10px;
}

.background .cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    width: 70%;
    margin: 0 !important;
    height: 70px ;

}





.background .cardTitle {
    /* background-color:aqua; */
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    margin: 0;
    color: azure;
    
}

.background .cardContentLink {
    /* background-color:rgb(17, 79, 79); */
    width: 30%;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: end;
    
    
}

.background .cardContentLink .cardLink {
    /* background-color:aqua; */
    text-decoration: none;
    color: white;
    background-color: #1db954;
    padding: 6px 28px;
    border-radius: 50px;
    font-weight: 600;

}

.background .cardContentLink .cardLink:hover {
    background-color: #0b8837;

}

.imageBg{
    background: none;
    border: none;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    transition-duration: 0.4s;
}

.imageBg:hover img{
    transition-duration: 0.4s;
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.input{
    margin-top: 20px;
    border: none;
    
}

.container{
    height: calc(99vh - 65px);
    padding: 210px;
}

.esconder {
    display: hidden;
}

/* Estilos dos inputs */



.inputContainer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer input,
.inputContainer button {
    height: 2.75em;
}

.inputContainer input {
    background-color: #191414;
    border: none;
    border-bottom: 2px solid white;
    color: azure;

}

.inputContainer input:hover {
    background-color: #191414;
    
}
.inputContainer input:focus {
    background-color: #191414;
    color: azure;


}

.inputContainer button {
    background-color: #00b941;
    border: none;
    width: 200px;
}

.inputContainer button:hover {
    transition-duration: 0.2s;
    background-color: #0b8837;
    border: none;
    width: 200px;
}

.titleList {
    text-align: left;
    width: 100%;
    color: aliceblue;
}